.title {
    text-align: center;
    margin: 20px 5px 20px 5px;
}

.cardList {

    margin: 20px 10px 20px 10px;
    background-color: bisque;
    display: flex;
    flex-direction: column;  /* Stacks child divs vertically */
    justify-content: center; /* Centers the child divs horizontally */
    align-items: center; 

}
.card {
    height: 200px;
    width: 750px;
    background-color:aqua;
    margin: 20px 0px 20px 0;
    border-radius: 10px;
}
